<app-main-navigation></app-main-navigation>

<section>
    <h1>IBOM BUSINESS CLOUD</h1>

    <app-home-articles-view></app-home-articles-view>
</section>

<section>
    <div class="floor"></div>
    <div class="plate">
        <h1>WE ARE COMING SOON</h1>

        <app-home-count-down></app-home-count-down>

        <div class="foot">
            <p>Get Notified When We Are Ready</p>

            <div>
                <input type="text" placeholder="Email Address">
                <button>SEND</button>
            </div>
        </div>
    </div>
</section>