// UNITS

$small_number: 5px;

$medium_number: $small_number * 2;

$large_number: $small_number * 5;

$preferred_font_size: 13px;

// FONTS

$font: Poppins;

$font_bold: Poppins-Bold;

$font_Light: Poppins-Light;

// COLORS

$white: #fff;

$black: #000;

$gray: #7B7B7B;

$other_pallet_gray_blue: #315768;